*{
  margin: 0;
  padding: 0;
  font-family: 'poppins', sans-serif;
  box-sizing: border-box;
}

/* to change the orientation of the button itself, you have to move the container it is in. */
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.btn{
  cursor: pointer;
}
